# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.db
*.pdf
*.zip

# Ignore database created by the YouTube Flask app
youtubeapptesting/4youtubeapp/database.db
